---
import Container from "@components/Container.astro";
import { ABOUT } from "@consts";
import PageLayout from "@layouts/PageLayout.astro"; 
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hey there, I'm Danilo <span class="text-xl">👋🏻</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            As a software engineer who's called both Chile and Spain home, I've always been drawn to the open and
            accessible nature of the web. Since 2005, I've been immersed in frontend development, with a deep passion
            for crafting exceptional user experiences and empowering development teams across Europe. I've had the
            privilege of collaborating with talented engineers in France, Germany, Italy, Belarus, and Hungary, to build
            high-performance web applications for some of the most visited websites in these countries.
          </p>

          <p class="animate">
            Over the years, I've had the opportunity to make a significant impact at various companies. At Adevinta, I
            architected and implemented a micro-frontend architecture for a new product, enabling independent updates
            and seamless versioning. At Leboncoin.fr, I spearheaded improvements to CI/CD processes, cutting build time
            in half and drastically reducing testing time by 93.3%. I also optimized application performance,
            significantly reducing the production pod count from 500 to 150 and achieving substantial cost savings. My
            work at Subito involved improving page speed scores from 27/100 to 53/100 and reducing Time to Interactive
            from 30 seconds to 7 seconds by building dedicated infrastructure to track and enhance these metrics.
          </p>

          <p class="animate">
            Lately, I've been focusing on helping teams improve their performance and the performance of their products.
            This has involved exciting collaborations with companies across Europe, where I've had the opportunity to
            share my expertise and learn from diverse perspectives. I believe that by prioritizing both user experience
            and developer experience, we can create a positive feedback loop that benefits everyone involved.
          </p>

          <h2 class="animate">Some of my recent achievements include:</h2>

          <ul class="animate">
            <li>Revamped Jofogas's E2E testing architecture, increasing coverage and reducing testing time by 75%.</li>
            <li>Spearheaded the transition of Jofogas.hu in Hungary from a Frontend template engine in C to NextJS.</li>
            <li>
              Driving the new architecture for Kleinanzeigen.de, transitioning from Java Spring to an independent
              frontend application using NodeJS.
            </li>
            <li>
              Spearheaded improvements to CI/CD processes at Leboncoin.fr, cutting build time by 50% and testing time by
              93.3%.
            </li>
            <li>
              Optimized application performance at Leboncoin.fr, reducing production pod count from 500 to 150,
              resulting in significant cost savings and improved efficiency.
            </li>
          </ul>

          <p class="animate">Join me as I share my insights and experiences on building better software.</p>
        </article>
      </section>
    </div>
  </Container>
</PageLayout>
