---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('August 08 2021')}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    I'm a Chilean/Spanish <strong>software engineer</strong> living in the sunny city of <strong>Barcelona</strong>.
  </p>

  <p>
    I’ve been working as a <strong>software engineer</strong> since 2010. Over the years I’ve worked with technologies such
    as <strong>J2EE, .NET, Javascript, Typescript</strong> and many more.
  </p>

  <p>
    I love the web and what represents. Their <strong>openness and accessibility</strong> is something that drew me to work
    on it. Since 2005, I've been doing <strong>FrontEnd development</strong>, where my main concerns have been on <strong
      >how teams work</strong
    >, and <strong>how our users feel our products</strong>.
  </p>

  <p>
    Since 2019, I’ve been actively <strong>working to helping other teams</strong> to <strong
      >improve their performance</strong
    > and <strong>the performance of their products.</strong>
  </p>

  <p>
    Lately, I've been <strong>working with some of the most visited pages</strong> in <strong>Italy</strong>, <strong
      >Belarus</strong
    > and <strong>Hungary</strong>, helping them to <strong>detect where the performance issues are</strong>, and how to <strong
      >help them to overcome it</strong
    >.
  </p>

  <p>
    From my perspective, there are two important things, <strong
      >user experience and developer experience (UX/DX)</strong
    >, and I truly believe that (as <a
      href="https://www.forbes.com/sites/pavelkrapivin/2018/07/09/sir-richard-bransons-5-billion-reasons-to-make-your-employees-candidates-happy/#3df5574a6710"
      >Richard Branson accurately pointed</a
    >) <em>if you take care of your people, they will take care of the business themselves</em>.
  </p>
</Layout>
