name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Get Node version from package.json volta.node
        id: get-node-version
        run: echo "::set-output name=node_version::$(jq -r '.volta.node' package.json)"

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ steps.get-node-version.outputs.node_version || 22 }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Lint code
        run: npm run lint

      - name: Build project
        run: npm run build
